<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kushal.application.newshunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="kushal.application.newshunter.SplashScreen"
            android:theme="@style/AppTheme.Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            </activity>
        <activity
            android:name="kushal.application.newshunter.SettingsAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.Bookmark"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.BIg_note_act"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.SavedNotesAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.NotesAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.LoginActivity"/>
        <activity
            android:name="kushal.application.newshunter.Big_image_act"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name="kushal.application.newshunter.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>