<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kushal.application.newshunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ID"/>

        <activity android:name=".ForgotAct" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".Bookmark"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".PhoneLoginAct"/>
        <activity
            android:name=".BIg_note_act"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".SavedNotesAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".NotesAct"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".Big_image_act"
            android:theme="@style/AppTheme.transparent" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>